body{
	overflow: hidden;
}
#remainText{
	position:absolute;
	text-align:center;
	width:100%;
	top:5%;
}
#questText{
	position:absolute;
	text-align:center;
	width:100%;
	top:15%;
}
#answerText{
	position:absolute;
	text-align:center;
	width:100%;
	top:25%;
}
#inputText{
	position:absolute;
	text-align:center;
	left:5%;
	width:90%;
	height:8%;
	top:35%;
}